body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}
textarea {
    width: 596px;
    height: 132px;
}
.postas {
    margin-left: 1%;
    padding: 31px;
}
.simply {
    margin-left: 2%;
}
.alsosimply {
    margin-left: 2%;
    margin-bottom: -13px;
}
.remind {
    display: inherit;
    margin-left: 90%;
}
.download {
    height: 25px;
    width: 25px;
    margin-bottom: -17px;
}
.bigas {
    border-radius: 5px;
    background-color: #abd9ff;
    margin: 35px;
    padding: 16px 16px 16px 16px;
    display: block;

}
.postprof{

   
    border-radius: 5px;
    background-color: tan;
    margin: 35px;
    padding: 16px 16px 16px 16px;
    display: block;
        
 
}
.smallas {
    border-radius: 5px;
    background-color: #F7F7F7;
    margin: 18px 42px 2px 30px;
}

.stud {
    padding: 5px 36px 10px;
}

.notify {
    justify-content: center;
    margin: auto;
    margin-top: 0;
    bottom: 0;
    padding: 20px;
    background-color: #E5EBB2;
    justify-content: center;
    width: 200px;
    height: 20px;
    border-radius: 15px;
    text-align: center;
}

.formnotify {
    margin: 0;
    margin-top: 0;

}

.container {
    margin: auto;
    margin-top: 4%;
    padding: 33px;
    background-color: #E5EBB2;
    justify-content: center;
    width: 186px;
    height: 250px;
    border-radius: 19px;
    text-align: center;
}

h2 {
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
    color: brown;
}

.text {
    margin-top: 20px;
    background-color: #EEEEEE;
    color: #06283D;
    padding: 0.5em;
    border-radius: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    text-align: center;
    transition-duration: 0.1s;

}

input.i {
    width: 100%;
}

input[type=text] {
    width: 10%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.left {
    display: inline;
    float: left;
}

.right {
    display: inline;
    float: right;
}
